NUXT_SESSION_PASSWORD=

# Base PostgreSQL (mêmes valeurs que bdd/postgre/.env)
NUXT_DATABASE_HOST=localhost
NUXT_DATABASE_PORT=5432
NUXT_DATABASE_NAME=koloni
NUXT_DATABASE_USER=koloni_app
NUXT_DATABASE_PASSWORD=
